@model ChoixResto.ViewModels.VoteRestoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vote</title>
</head>
<body>
    <p>
        Cochez les restaurants où vous voulez bien aller. Attention, le vote est définitif !
    </p>
    @using (Html.BeginForm())
    {
        <fieldset>
            @Model.erreur
            <br />
            @foreach (var resto in Model.listResto)
            {
                @Html.CheckBox(resto.Nom)
                @Html.Label(resto.Nom)
                <br />
            }
            <input type="submit" value="Valider" />
        </fieldset>
    }
</body>
</html>
